{% extends '::admin.html.twig' %}
{% block page_title %}{% endblock %}
{% block page_subtitle %}

{% endblock %}
{% block page_content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box" style="background: #ebeff4; height: 100vh; display: flex;">
                <img class="logo-i" src="{{ asset('img/svg/logo.svg') }}" style="width: 50%;margin: 0 auto;"  alt="">
            </div>
        </div>
    </div>

{% endblock %}
