{% extends '::base.html.twig' %}

{% block title_pg %}Портфолио{% endblock %}
{% block body %}     
  <main class="main">
    <ul class="portfolio">
      {% for entity in page %}
        <li class="portfolio__item">
          <div class="portfolio__video">
            <iframe type="text/html" width="480" height="270" src="https://www.youtube.com/embed/{{ entity.videoid }}?showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <h2 class="portfolio__title title-h">{{ entity.title }}</h2>
          <div class="portfolio__info">{{ entity.content|raw }}</div>
        </li>
      {% endfor %}
    </ul>
  </main>
{% endblock %}