<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}Service | KINO.RENT {% endblock %}</title>
    <meta content="{% block metaDesription %}Service{% endblock %}" name="description">
    <meta content="{% block metaKeywords %}Service{% endblock %}" name="keywords">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    {% block stylesheets %}
        <link href="{{ asset('styles/main.min.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js">
    </script><![endif]-->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    <div class="wrapper">{% block body %}{% endblock %}</div>
  </body>
  {% block javascripts %}
    <script src="{{ asset('scripts/main.js') }}" defer></script>
  {% endblock %}
</html>