{% extends '::base.html.twig' %}

{% block body %}
    <main class="main main_i">
        <div class="logo"><a class="logo__link logo__link_pos" href="/"><img class="logo-i" src="{{ asset('img/svg/logo.svg') }}" alt=""></a>
          <div class="logo__button">
            <button class="btn btn__link btn-order btn-order"><span class="btn__title">Оставить заявку </span></button>
          </div>
        </div>
    </main>
{% endblock %}